/* setting font for text  */

* {
    font-family: 'Work Sans', sans-serif;
}

html {
    box-sizing: border-box;
}


/* base styles */

header {
    background-color: ghostwhite;
    padding: 10px;
    margin: -1rem -1rem 0;
}


h1, h2, h3 {
    text-align: center;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
}  

footer {
    background-color: ghostwhite;
    margin: 0 -1rem -1rem;  
    padding: 10px;
}




/* images stlying */

img {
    max-width: 100%;
    height: auto;
}

a { /* styles footer links */
    text-align: center;
    margin-top: 2px;
    padding: 16px 0;
    text-decoration: none;
    color: black;
}

/* ========================
            Class Styles
========================= */

.profile-pic {
    display: block; /* centers image element in viewport */
    margin: auto;
    width: 75%;
}

.addingMargin {
    padding: 50px 0;
    margin: 0;
    
}

.main-nav { /*makes mobile friendly nav-bar */
    display: flex;
    flex-direction: column;
    list-style: none;
    padding-left: 0px;
}

.main-nav li a {
    list-style: none;
    text-align: center;
    margin-top: 2px;
    padding: 16px 0;
    text-decoration: none;
    color: black;
    background-color: white;
    display: block;
}